<div class="container">
  <div class="push_down_content_bc_nav">
    <h1>Saving on <%= @listing.product %></h1>

    <% if @owns %>
      <p>
        <%= link_to 'Edit Listing', edit_listing_path(@listing) %>&nbsp;|&nbsp;
        <%= link_to 'Delete Listing', listing_path, method: :delete, data: {confirm: 'Are you sure?'} %>
      </p>
    <% end %>

    <p style="font-size: 20px; text-align: center;">The bulk price for <%= pluralize(@listing.required_amount, 'share') %> of <%= @listing.product.pluralize %> is R<%= @listing.bulk_cost %>.</p>
    <p style="font-size: 20px; text-align: center;">With this deal, the unit price for 1 share is R<%= @unit_cost %>.</p>



    <hr>

    <h3>The current portions claimed for <%= @listing.product %>:</h3>

    <p style="font-size: 20px; text-align: center;"><%= pluralize(@remaining, 'more share') %> available!</p>

    <%= render partial: 'portions/portion', collection: @listing.portions %>

     <% if !@joined %>
      <p class="btn-xl" style="margin: 0 auto; width: 400px; font-size: 25x; text-align: center;">
        <%= link_to "Save with me!", new_listing_portion_path(params[:id]) %>
        </p>
        <% end %>

    <p style="text-align: center;"><%= link_to 'Back to Local Listings', listings_path %></p>
  </div>
</div>