<div class="container">
  <div class="push_down_content_bc_nav">
    <h1>Saving on <%= @listing.product %></h1>

    <p>The bulk price for <%= pluralize(@listing.required_amount, 'share') %> of <%= @listing.product.pluralize %> is R<%= @listing.bulk_cost %>.</p>
    <p>With this deal, the unit price for 1 share is R<%= @unit_cost %>.</p>

    <% if @owns %>
      <p>
        <%= link_to 'Edit Listing', edit_listing_path(@listing) %>&nbsp;|&nbsp;
        <%= link_to 'Delete Listing', listing_path, method: :delete, data: {confirm: 'Are you sure?'} %>
      </p>
    <% end %>

    <h3>The current portions claimed for <%= @listing.product %>:</h3>

    <%= render partial: 'portions/portion', collection: @listing.portions %>

    <p><%= pluralize(@remaining, 'more share') %> available!</p>

    <% if @joined %>
      <p>
        <%= link_to 'Edit Share', edit_listing_portion_path(@listing, @this_portion) %>&nbsp;|&nbsp;
        <%= link_to 'Delete Share', listing_portion_path(@listing, @this_portion), method: :delete, data: {confirm: 'Are you sure?'} %>
      </p>
    <% else %>
      <p><%= link_to "Save with me!", new_listing_portion_path(params[:id]) %></p>
    <% end %>

    <p><%= link_to 'Back to Local Listings', listings_path %></p>
  </div>
</div>