<h1>Saving on <%= @listing.product %></h1>

<p>The bulk deal is <%= @listing.required_amount %> <%= @listing.product.pluralize %> for <%= @listing.bulk_cost %></p>

<h3>The current portions claimed for <%= @listing.product %>:</h3>

<%= render partial: 'portions/portion', collection: @listing.portions %>

<p>The portions remaining to complete the save is <%= @remaining %>!</p>

<p><%= link_to "Save with Me!", new_listing_portion_path(params[:id]) %></p>

<p><%= link_to 'Edit Listing', edit_listing_path %></p>
<%= link_to 'Delete Listing', listing_path, method: :delete, data: {confirm: 'Are you sure?'} %>
<p><%= link_to 'Back to Listings', listings_path %></p>